# SORT_VALUES
### O método sort_values() é usado para ordenar os valores de uma coluna ou várias colunas.

In [30]:
import pandas as pd

df = pd.DataFrame({
    'Nome': ['Ana', 'Carlos', 'Beto', 'Daniela'],
    'Idade': [25, 40, 35, 29]
})

df_ordenado = df.sort_values(by = 'Idade')
df_ordenado

#BY --> COLUNA PARA SER ORDENADA

      Nome  Idade
0      Ana     25
3  Daniela     29
2     Beto     35
1   Carlos     40

In [40]:
df2 = pd.DataFrame({'A': [3, 2, None, 1]})
df_ordenado2 = df2.sort_values(by='A', ascending=False, na_position='first')
df_ordenado2

#NA_POSITION --> coloca NaN no início

     A
2  NaN
0  3.0
1  2.0
3  1.0

# SORT_INDEX
### O método sort_index() é usado para ordenar os dados com base no índice do DataFrame ou Series.

In [48]:
df = pd.DataFrame({'A': [1, 2, 3]}, index=['b', 'c', 'a'])

df_sorted = df.sort_index()
df_sorted

#Ordenando um DataFrame pelo índice

   A
a  3
b  1
c  2

In [52]:
df_sorted = df.sort_index(ascending=False , inplace = False)
df_sorted

#Ordenando um DataFrame pelo índice (decrescente)

   A
c  2
b  1
a  3

# VALUE_COUNTS
### Contagem de valores em uma Series

In [57]:
df_x = pd.DataFrame({'Categoria': ['A', 'B', 'A', 'C', 'A', 'B', 'C', 'C', 'C']})

contagem = df_x['Categoria'].value_counts()
contagem

Categoria
C    4
A    3
B    2
Name: count, dtype: int64

In [73]:
df_x = pd.DataFrame({'Categoria': ['A', 'B', 'A', 'C', 'A', 'B', 'C', 'C', 'C']})

contagem = df_x['Categoria'].value_counts(normalize = True , sort = True)
contagem

#NORMALIZE --> PASSA A PORCENTAGEM AO INVES DA QUNATIDADE 
#SORT --> Ordena por frequência OU quantidade 
#ascending --> True or False

Categoria
C    0.444444
A    0.333333
B    0.222222
Name: proportion, dtype: float64