In [99]:
import pandas as pd

datas = {'data' : ['2025-03-19', '2025-03-20', '2025-03-21','joao']}

# Convertendo para datetime
df = pd.DataFrame(datas)

display(df)

         data
0  2025-03-19
1  2025-03-20
2  2025-03-21
3        joao

# TO_DATETIME
### pd.to_datetime(arg, format="%d/%m/%Y", errors='raise', dayfirst=False)

### errors: Como lidar com erros de conversão. Valores possíveis: 
### 'raise' (default): Lança erro se não puder converter.
### 'coerce': Converte para NaT (Not a Time) quando houver erro.
### 'ignore': Não faz nada em caso de erro.

In [119]:
df['data'] = pd.to_datetime(df['data'], errors = 'coerce')
df

        data
0 2025-03-19
1 2025-03-20
2 2025-03-21
3        NaT

# .DT.YEAR / month / day

In [133]:
df['data'].dt.day

# extrai o ano/mes/dia

0    19.0
1    20.0
2    21.0
3     NaN
Name: data, dtype: float64