# WHERE

### Onde a condição não for atendida, é susbstituído

In [5]:
import pandas as pd
import numpy as np


df = pd.DataFrame({
    'A': [10, 20, 30, 40],
    'B': [5, 15, 25, 35]
})

print("DataFrame original:")
display(df)


df_filtrado = df.where(df > 15, other = 'MENOR')

print("\nDataFrame após where(df > 15):")
display(df_filtrado)

#PASSA A CONDIÇÃO DENTRO DO ()
# OTHER --> CONTEUDO QUE SERA ATRIBUÍDO

DataFrame original:

    A   B
0  10   5
1  20  15
2  30  25
3  40  35

DataFrame após where(df > 15):

       A      B
0  MENOR  MENOR
1     20  MENOR
2     30     25
3     40     35

# MASK

### Onde a condição for atendida, faz a substituição

In [7]:
import pandas as pd
import numpy as np


df = pd.DataFrame({
    'A': [10, 20, 30, 40],
    'B': [5, 15, 25, 35]
})

print("DataFrame original:")
display(df)


df_filtrado = df.mask(df > 15, other = 'MENOR')

print("\nDataFrame após where(df > 15):")
display(df_filtrado)

#PASSA A CONDIÇÃO DENTRO DO ()
# OTHER --> CONTEUDO QUE SERA ATRIBUÍDO

DataFrame original:

    A   B
0  10   5
1  20  15
2  30  25
3  40  35

DataFrame após where(df > 15):

       A      B
0     10      5
1  MENOR     15
2  MENOR  MENOR
3  MENOR  MENOR