In [77]:
import pandas as pd

In [79]:
df1 = pd.DataFrame({'ticker' : ['petr4','vale3','itub4'] , 'setor' : ['óleo e gás', 'mineração', 'financeiro']})
df2 = pd.DataFrame({'ticker' : ['vale3','itub4','goll4'] , 'tendencia' : ['alta', 'baixa' ,'consolidação']})

In [81]:
df1, df2

(  ticker       setor
 0  petr4  óleo e gás
 1  vale3   mineração
 2  itub4  financeiro,
   ticker     tendencia
 0  vale3          alta
 1  itub4         baixa
 2  goll4  consolidação)

### HOW = 'INNER' / ON = ' '

In [83]:
pd.merge(df1, df2, how= 'inner' , on = 'ticker') # INNER -> APENAS O QUE TEM NOS 2 DF (UNIÃO)
                                                 # ON -> USANDO COMO BASE A COLUNA 'TICKER' (ELEMENTOS EM COMUM) (COLUNAS COM MESMO NOME)

  ticker       setor tendencia
0  vale3   mineração      alta
1  itub4  financeiro     baixa

### HOW = 'OUTER'

In [118]:
pd.merge(df1 , df2 , how = "outer") #OUTER -> TRAZ TODAS AS COLUNAS DE TODAS AS TABELAS (NaN para parametros faltantes)

  ticker       setor     tendencia
0  goll4         NaN  consolidação
1  itub4  financeiro         baixa
2  petr4  óleo e gás           NaN
3  vale3   mineração          alta

### HOW = 'LEFT'

In [87]:
pd.merge(df1 , df2 , how = "left") # LEFT -> TRAZ AS COLUNAS DO DATAFRAME ESQUERDO (NaN para paramentros faltantes)

  ticker       setor tendencia
0  petr4  óleo e gás       NaN
1  vale3   mineração      alta
2  itub4  financeiro     baixa

### HOW = 'RIGHT'

In [89]:
pd.merge(df1 , df2 , how = "right") # Right -> TRAZ AS COLUNAS DO DATAFRAME DIREITO (NaN para paramentros faltantes)

  ticker       setor     tendencia
0  vale3   mineração          alta
1  itub4  financeiro         baixa
2  goll4         NaN  consolidação

### RIGHT_ON / LEFT_ON

In [103]:
df3 = pd.DataFrame({'ticker' : ['petr4','vale3','itub4'] , 'setor' : ['óleo e gás', 'mineração', 'financeiro']})
df4 = pd.DataFrame({'tickers' : ['vale3','itub4','goll4'] , 'tendencia' : ['alta', 'baixa' ,'consolidação']})
pd.merge(df3 , df4 , how = 'inner' , left_on = 'ticker' , right_on = 'tickers')

#LEFT_ON , RIGHT_ON --> SERVE COMO 'ON' PORÉM QUANDO AS COLUNAS POSSUEM NOME DIFERENTES (MAS SÃO A MESMAS INFORMAÇÃO)

  ticker       setor tickers tendencia
0  vale3   mineração   vale3      alta
1  itub4  financeiro   itub4     baixa

### RIGHT_INDEX / LEFT_INDEX

In [111]:
pd.merge(df1 , df2 , how ='inner' , left_index = True, right_index = True) 

#LEFT_INDEX , RIGHT_INDEX --> SERVE COMO 'ON' / 'RIGHT_ON/LEFT_ON' , POREM PARA INDICES E NÃO COLUNAS
#USADO NORMALMENTE QUANDO NÃO TEM COLUNAS REPETIDAS EM AMBOS

  ticker_x       setor ticker_y     tendencia
0    petr4  óleo e gás    vale3          alta
1    vale3   mineração    itub4         baixa
2    itub4  financeiro    goll4  consolidação

### SORT = True

In [131]:
# ORDENA DATAFRAME RESULTANTE PELA CHAVE DE JUNÇÃO (ON, RIGHT/LEFT _ON , RIGHT/LEFT _INDEX)

dfx = pd.DataFrame({'ID' : [3,2,1] , 'Valor' : [100,200,300]})
dfy = pd.DataFrame({'ID' : [1,2,3] , 'Nome' : ['a','b','c']})

resultado1 = pd.merge(dfx , dfy , on = 'ID',sort = True )
resultado1

   ID  Valor Nome
0   1    300    a
1   2    200    b
2   3    100    c

### SUFFIXES

In [142]:
df_x = pd.DataFrame({'ID' : [1,2] , 'Nome' : ['alice','bob'] , 'idade' : [25,30]})
df_y = pd.DataFrame({'ID' : [1,2] , 'Nome' : ['carlos','daniel'] , 'salario' : [5000, 6000]})

resultado = pd.merge(df_x , df_y, on='ID', suffixes = ('_esquerda' , '_direita'))
resultado

   ID Nome_esquerda  idade Nome_direita  salario
0   1         alice     25       carlos     5000
1   2           bob     30       daniel     6000