In [67]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

df

   A  B
0  1  4
1  2  5
2  3  6

# SUM( )
### Retorna a soma dos valores das linhas ou colunas do dataframe

In [69]:
# axis=0: Soma ao longo das colunas (default).
# axis=1: Soma ao longo das linhas.
# skipna=True: Ignora valores NaN ao calcular a soma (default).
# numeric_only: Se True, inclui apenas colunas numéricas.

In [91]:
df['extra'] = [np.nan] *3
df

   A  B  extra
0  1  4    NaN
1  2  5    NaN
2  3  6    NaN

In [89]:
df.sum()

A         6.0
B        15.0
extra     0.0
dtype: float64

In [57]:
df.sum(axis = 1) #SOMA DAS lINHAS

0    5.0
1    7.0
2    9.0
dtype: float64

# MEAN ( )
### Retorna a média dos valores das linhas ou colunas do dataframe

In [73]:
df.mean(axis=0, skipna=True, numeric_only=None)

A    2.0
B    5.0
dtype: float64

# MIN( )
### Retorna o valor mínimo das linhas ou colunas do dataframe

In [78]:
df.min(axis = 0) #Coluna

A    1
B    4
dtype: int64

In [82]:
df.min(axis = 1) #Linha

0    1.0
1    2.0
2    3.0
dtype: float64

# Max( )
### Retorna o valor máximo das linhas ou colunas do dataframe

In [103]:
df.max(axis = 0) #Coluna

A        3.0
B        6.0
extra    NaN
dtype: float64

In [105]:
df.max(axis = 1) #linha

0    4.0
1    5.0
2    6.0
dtype: float64

# std(): Desvio padrão
### Calcula o desvio padrão dos valores.

In [108]:
df.std(axis=0, ddof=1)

#   DDOF --> Grau de liberdade (usado para amostras)

A        1.0
B        1.0
extra    NaN
dtype: float64

In [110]:
df.std(axis=1, ddof=1)

0    2.12132
1    2.12132
2    2.12132
dtype: float64

# count( ): Contagem de valores não nulos
### Retorna o número de valores não nulos em cada coluna ou linha.

In [113]:
df.count(axis=0)

A        3
B        3
extra    0
dtype: int64