In [7]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

df

   A  B
0  1  4
1  2  5
2  3  6

In [11]:
df.T

   0  1  2
A  1  2  3
B  4  5  6